In [10]:
import os
import cv2
import pandas as pd

In [11]:
# prefix = '/media/martin/Samsung_T5/data/endoscopic_data/camera_motion_separated_png/without_camera_motion'
# prefix = '/media/martin/Samsung_T5/data/endoscopic_data/camera_motion_separated_png/with_camera_motion'
prefix = '/media/martin/Samsung_T5/data/endoscopic_data/tmp'

# df = pd.read_pickle(os.path.join(prefix, 'log_without_camera_motion.pkl'))
# df = pd.read_pickle(os.path.join(prefix, 'log_with_camera_motion.pkl'))
df = pd.read_pickle(os.path.join(prefix, 'cholec80.pkl'))
df

,file,path,vid_idx,frame_idx,database
0,frame_0.png,train/video01,0,0,"{'name': 'cholec80', 'test': False}"
1,frame_1.png,train/video01,0,1,"{'name': 'cholec80', 'test': False}"
2,frame_2.png,train/video01,0,2,"{'name': 'cholec80', 'test': False}"
3,frame_3.png,train/video01,0,3,"{'name': 'cholec80', 'test': False}"
4,frame_4.png,train/video01,0,4,"{'name': 'cholec80', 'test': False}"
...,...,...,...,...,...
995,frame_995.png,train/video01,0,995,"{'name': 'cholec80', 'test': False}"
996,frame_996.png,train/video01,0,996,"{'name': 'cholec80', 'test': False}"
997,frame_997.png,train/video01,0,997,"{'name': 'cholec80', 'test': False}"
998,frame_998.png,train/video01,0,998,"{'name': 'cholec80', 'test': False}"
999,frame_999.png,train/video01,0,999,"{'name': 'cholec80', 'test': False}"

In [15]:
df_out = pd.DataFrame(columns=['file_seq', 'path', 'vid_idx', 'frame_idcs', 'database'])

seq_len = 2

for idx, row in df.iterrows():
    file_seq = []
    frame_idcs = []

    print('\r{}/{}'.format(idx, len(df)), end='')

    for i in range(seq_len):
        if idx+i >= len(df):
            break 
        if df.iloc[idx]['path'] != df.iloc[idx+i]['path']:
            break
        file_seq.append(df.iloc[idx+i]['file'])
        frame_idcs.append(df.iloc[idx+i]['frame_idx'])

    if len(file_seq) == seq_len:
        df_out = df_out.append({
            'file_seq': file_seq,
            'path': row.path,
            'vid_idx': row.vid_idx,
            'frame_idcs': frame_idcs,
            'database': row.database
        }, ignore_index=True)

# out_path = 'log_without_camera_motion_seq_len_{}'.format(seq_len)
# out_path = 'log_with_camera_motion_seq_len_{}'.format(seq_len)
out_path = 'cholec80_seq_len_{}'.format(seq_len)

df_out.to_pickle(os.path.join(prefix, out_path + '.pkl'))
df_out.to_csv(os.path.join(prefix, out_path + '.csv'))

df_out

999/1000

,file_seq,path,vid_idx,frame_idcs,database
0,"[frame_0.png, frame_1.png]",train/video01,0,"[0, 1]","{'name': 'cholec80', 'test': False}"
1,"[frame_1.png, frame_2.png]",train/video01,0,"[1, 2]","{'name': 'cholec80', 'test': False}"
2,"[frame_2.png, frame_3.png]",train/video01,0,"[2, 3]","{'name': 'cholec80', 'test': False}"
3,"[frame_3.png, frame_4.png]",train/video01,0,"[3, 4]","{'name': 'cholec80', 'test': False}"
4,"[frame_4.png, frame_5.png]",train/video01,0,"[4, 5]","{'name': 'cholec80', 'test': False}"
...,...,...,...,...,...
994,"[frame_994.png, frame_995.png]",train/video01,0,"[994, 995]","{'name': 'cholec80', 'test': False}"
995,"[frame_995.png, frame_996.png]",train/video01,0,"[995, 996]","{'name': 'cholec80', 'test': False}"
996,"[frame_996.png, frame_997.png]",train/video01,0,"[996, 997]","{'name': 'cholec80', 'test': False}"
997,"[frame_997.png, frame_998.png]",train/video01,0,"[997, 998]","{'name': 'cholec80', 'test': False}"
998,"[frame_998.png, frame_999.png]",train/video01,0,"[998, 999]","{'name': 'cholec80', 'test': False}"

In [4]:
from datasets import PandasHomographyDataset

prefix = '/media/martin/Samsung_T5/data/endoscopic_data/camera_motion_separated_png/without_camera_motion'

df = pd.read_pickle(os.path.join(prefix, 'log_without_camera_motion_seq_len_2.pkl'))

pd = PandasHomographyDataset(df, prefix, 32, [480, 640])
for imgs in pd:
    cv2.imshow('img0', imgs['img_seq'][0])
    cv2.imshow('img1', imgs['img_seq'][1])
    cv2.waitKey()